<!-- Hero Banner-->

<section class="hero-home bg-cover bg-center" style="background: url(../../assets/home.jpg)">
    <div class="container index-forward py-5 mb-5 my-2">
      <div class="row text-white">
        <div class="col-lg-8">
          <h1 class="text-uppercase mb-0 text-shadow">Telimedicine group</h1>
          <p class="h5 my-4 text-shadow">Provide best quality healthcare for you</p>
          <p class="text">Welcome to Telimedicine, where we are dedicated to providing high-quality healthcare services. Our mission is to ensure that every patient receives personalized care and attention for their well-being.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Info Section-->
  <section class="info p-0 bg-light">
    <div class="container bg-white">
      <div class="row py-5 border-top border-md border-primary">
        <div class="col-lg-4 border-right mb-4 mb-lg-0">
          <div class="px-4">
            <p class="text-primary mb-0 font-weight-normal">Qualified Doctors</p>
            <h3 class="h5">Where people come first</h3>
            <p class="text-muted mb-0 text-small">A qualified doctor possesses extensive medical training and expertise, capable of providing accurate diagnoses, personalized treatment plans, and compassionate care to patients, ensuring their well-being and health.</p>
          </div>
        </div>
        <div class="col-lg-4 border-right mb-4 mb-lg-0">
          <div class="px-4">
            <p class="text-primary mb-0 font-weight-normal">24 hour service</p>
            <h3 class="h5">Highest Quality Ever</h3>
            <p class="text-muted mb-0 text-small">A highly skilled and qualified doctor offering round-the-clock service, delivering unparalleled medical care with an unwavering commitment to excellence and patient satisfaction, ensuring the highest quality healthcare experience possible..</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="px-4">
            <p class="text-primary mb-0 font-weight-normal">We are here for you</p>
            <h3 class="h5">Emergency Department</h3>
            <p class="text-muted mb-0 text-small">We're here for you. Our Emergency Department stands ready 24/7 to provide immediate, expert care in times of crisis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section-->
  <section class="about bg-light pt-0" >
    <div class="container text-center">
      <div class="row pt-5">
        <div class="col-lg-4 mb-5 mb-lg-0"><i class="fas fa-stethoscope fa-3x text-primary mb-3"></i>
          <h2 class="h5">HealthCare Professionals</h2>
          <p class="text-muted px-lg-3 mb-0">Trusted Healthcare Professionals delivering personalized care and promoting wellness with expertise and compassion. Our commitment is to exceed expectations and improve lives with comprehensive healthcare solutions.</p>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0"><i class="fas fa-microscope fa-3x text-primary mb-3"></i>
          <h2 class="h5">Medical Excellence</h2>
          <p class="text-muted px-lg-3 mb-0">Medical Excellence epitomizes our commitment: superior care, cutting-edge treatments, and unwavering dedication, ensuring optimal health outcomes and patient satisfaction. Trust us to deliver unparalleled expertise and innovation for your well-being.</p>
        </div>
        <div class="col-lg-4"><i class="fas fa-syringe fa-3x text-primary mb-3"></i>
          <h2 class="h5">Latest Technologies</h2>
          <p class="text-muted px-lg-3 mb-0">
            Harnessing the latest technologies, we provide cutting-edge solutions for precision diagnostics and advanced treatments, ensuring superior outcomes and patient-centric care. Our commitment to innovation empowers us to deliver the highest standards of healthcare excellence.</p>
        </div>
      </div>
    </div>
  </section>
     
  <!-- Doctors Section-->
  <section class="doctors bg-light my-4">
    <div class="container text-center">
      <h2 class="text-uppercase lined lined-center">Our  <span class="text-primary">Doctors</span></h2>
      <div class="row">
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card doctor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="../../assets/Dr1.jpg" alt="">
            
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Dr. 1</h6>
                    <p class="text-muted text-small mb-0">Position</p>
                  </div><a class="btn btn-block btn-primary" routerLink="/new">Make appointmet</a>
                </div>
              </div>
            </div>
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card doctor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="../../assets/Dr2.jpg" alt="">
    
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Dr. 2</h6>
                    <p class="text-muted text-small mb-0">Position</p>
                  </div><a class="btn btn-block btn-primary" routerLink="/new">Make appointmet</a>
                </div>
              </div>
            </div>
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card doctor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="../../assets/Dr3.jpg" alt="">
                    
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Dr.3</h6>
                    <p class="text-muted text-small mb-0">Position</p>
                  </div><a class="btn btn-block btn-primary" routerLink="/new">Make appointmet</a>
                </div>
              </div>
            </div>
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card doctor border-0">
                <div class="card-body p-0 shadow-sm">
                  <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="../../assets/Dr4.jpg" alt="">
                   
                  </div>
                  <div class="p-4">
                    <h6 class="mb-0">Dr.4</h6>
                    <p class="text-muted text-small mb-0">Position</p>
                  </div><a class="btn btn-block btn-primary" routerLink="/new">Make appointmet</a>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
  
