
.container{
    background-color: antiquewhite;
}


.card {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
}

.card-header {
    background-color: #007bff; /* Blue header background color */
    color: #fff; /* White text color */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.text-danger {
    font-size: 14px;
    color: #dc3545; /* Red color for error messages */
}
